*{
    margin: 0;
    padding: 0;
    font-family:'Barlow SemiCondensed';
}
body{
    background:#edf2f8;

}
.hi{
    border:2px solid black;
    height: 200px;
    width: 300px;
    border-radius: 25px;
    text-align: center;
    font-size: 1.1rem;
    box-shadow: rgba(17,12,46,0.15) 0px 48px 100px 0px;
}
#h1{
    position: absolute;
    left: 0px;
    top: 200px;
}
#h2{
    position: absolute;
    right: 0px;
    bottom: 200px;
}
.hd{
    text-align: center;
    margin-bottom: 25px;
    padding: 25px;
    font-size: 25px;
}
